#title {
    color:rgb(29, 92, 92);
    font-size: 100px;
} 

body {
    background-color: orange;
} 
#bruh {
    color: blue
} 
#list1 {
    color:  rgb(9, 137, 151) ;
font-size: 20px;
    
} 
#rf { 
    color: purple;
    font-size: 40px
    
}